# Keep this to false if you don't know what you are doing.
Debug: false

#################
# Main Settings #
#################

# Items' display names.
MaskDisplayName: "&2AntiVirus Mask"
VaxinDisplayName: "&bVaxin"

# Minimum number of Online Players to start the virus spreading.
MinOnlinePlayers: 1

# The time (in seconds) between each time the virus tries to infect a random player.
InfectionSpreadDelay: 10

# The chance that a player has of catching a virus (from 0(%) to 100(%)).
InfectionPercentage: 40

# The amount of damage that the mask will take after saving a player from a virus
MaskDmgOnVirusSave: 1

# Every time a player avoids a virus some "OnlinePoints" are added to his stats,
# the more OnlinePoints he has the more chance he has to catch a virus next time.
# These points will be added to the InfectionPercentage.
# NOTE: these points are reset when a player catches a virus.
OnlinePointsAddition: 5

# NOTE: to apply recipes changes you must reload/restart the server.
EnableMaskRecipe: true
EnableVaxinRecipe: true

# Should a player receive a message when the mask saves him from a virus?
MsgOnMaskHit: false

# Players can be infected only if their gamemode is set to survival
InfectOnlyOnSurvivalGamemode: true

######################
# Infection Settings #
######################

# 2 Health points = 1 Hearth (20 = maximum health)
MaximumHealthWhenInfected: 2

ParticlesWhenInfected: true
# You can find a list of ParticleTypes here: https://hub.spigotmc.org/javadocs/spigot/org/bukkit/Particle.html
# NOTE: Make sure that the particles you choose are supported in your server version.
InfectionParticleType: SLIME

EnablePotionEffectsWhenInfected: true
# You can find a list of PotionEffectTypes here: https://hub.spigotmc.org/javadocs/bukkit/org/bukkit/potion/PotionEffectType.html
# NOTE: Make sure that the potion effects you choose are supported in your server version.
# Add as many effects as you wish. FORMAT: PotionEffectType#Level
PotionEffectsWhenInfected:
  - CONFUSION#3
# Duration in seconds
PotionEffectsDuration: 10

# Infection chance addition to catch a virus if a player is near an infected player (%).
# NOTE: If a player is near 2 infected players, "ChanceAdditionWhenNearInfected" is doubled.
ChanceAdditionWhenNearInfected: 10

# Max distance (in blocks) required between an infected player and a healthy player to have a higher chance of being infected.
SpreadDistanceBetweenPlayers: 10

########################
# Custom Infected Mobs #
########################

EnableMobInfection: true

# A list of mobs that can become infected
MobTypes:
  - ZOMBIE

MobInfectionSpreadChance: 50

# The amount of damage dealt to a player mask when he is hitted by an infected mob.
# NOTE: the mask has by default 55 hp
MaskDmgOnInfectedMobHit: 5

# The custom name that an infected mob has. Here you can use %mob_type% to get displayed the name of the mob.
CustomMobName: "§c§nInfected §f§l%mob_type%"

##################
# Other settings #
##################

# Custom Placeholder: %ultimatevirus_isInfected%
# You can choose the message that this placeholder is going to return
# This placeholder can be used inside lang.yml (MsgCheckVirus & MsgCheckVirusOthers) and is supported by any other plugin
# that supports PlaceholderAPI.
ReturnMsgWhenTrue: "yes"
ReturnMsgWhenFalse: "no"

# Some worlds in which the virus will not spread.
DisabledWorlds:
  - world1
  - world2
